.#{$prefix}-editor-show {
  .markdown-body {
    border: none;
    ol,
    ul {
      padding-left: 0;
    }
  }
  pre {
    max-height: 400px;
  }
  .v-note-wrapper {
    z-index: 999;
    border-color: rgb(221, 221, 221) !important;
    background-color: transparent;
    .v-note-op {
      border-bottom: 1px solid #ddd !important;
      .v-left-item,
      .v-right-item {
        min-height: 38px;
      }
      .op-icon-divider {
        padding: 9px 0;
        border-bottom: 1px solid #ddd !important;
      }
    }
    .v-note-show {
      .v-show-content {
        background-color: transparent !important;
      }
    }
  }
}
