body {
  font-family: $font-family;
  color: #3d3d3d !important;
  font-size: $font-size;
  line-height: 1.42857143;
  background: url(../assets/images/bg2.jpg) no-repeat top center #5daad4;
  background-size: cover;
  background-attachment: fixed;
}
.hx-bg-color {
  background-color: $card-bg-color !important;
}
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  background: transparent;
  color: #333;
  vertical-align: baseline;
  text-decoration: none;
  font-size: 100%;
  font-family: 'Open Sans', 'Hiragino Sans GB', 'Microsoft YaHei',
    'WenQuanYi Micro Hei', Arial, Verdana, Tahoma, sans-serif;
  &:hover {
    text-decoration: none;
  }
}

a:focus,
button:focus {
  outline: 1px dotted;
  outline: none;
}

// bootstrap
.d-flex:not(.flex-column) > .flex-fill {
  width: 0;
}

// breadcrumb
.hx-breadcrumb {
  background: #fff;
  padding: 5px 15px;
  line-height: normal;
  border-radius: 3px;
  margin-bottom: 15px;
  border-left: 5px solid #009688;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .hx-breadcrumb {
    padding: 6px 15px;
  }
}

@media screen and (min-width: 992px) {
  .hx-breadcrumb {
    padding: 8px 15px;
  }
}

@import 'layout';
@import 'size';
@import 'text';
@import 'hxeditor';
